
TeamMAs_Project/Assets/Plugins/FMOD/Cache/Editor.meta
TeamMAs_Project/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
TeamMAs_Project/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta
TeamMAs_Project/Assets/Plugins/FMOD/platforms/win/lib/x86_64/fmodstudioL.dll
TeamMAs_Project/fmod_editor.log
